<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

        body {
            font-family: 'Open Sans', sans-serif;
            background-image: url('img/bg-1.png');
            background-repeat: no-repeat;
            height: 800px;
        }

        h1, label {
            color: white;
        }

        .wrapper {
            width: 960px; 
            margin: 150px auto;
            margin-left: 550px;
        }

        .btn {
            background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
            border-radius: 4px;
        }

        h1 {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1>Login</h1><br>

        <form action="/login" method="post">
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="enter email"><br><br>

            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="enter password"><br><br>

            <button type="submit" class="btn px-3">login</button>
        </form>
    </div>
</body>
</html>