@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
}

a, p {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
}

.section-1 > .container > h1 {
    padding-top: 250px;
}

h3 {
    font-size: 24px;
    color: white;
}

.story {
    margin-top: 250px;
    color: white;
}

.section-1 {
    background-image: url('img/bg-1.png');
    background-repeat: no-repeat;
    height: 800px;
}

.section-2 {
    background-image: url('img/bg-2.png');
    background-repeat: no-repeat;
    height: 800px;
}

.section-3 {
    background-image: url('img/bg-3.png');
    background-repeat: no-repeat;
    height: 800px;
}

.section-4 {
    background-image: url('img/bg-4.png');
    background-repeat: no-repeat;
    height: 800px;
}

.section-5 {
    background-color: #080A0B;
    background-repeat: no-repeat;
    height: 800px;
}

.section-6 {
    background-color: #080A0B;
    background-repeat: no-repeat;
    height: 800px;
}

.section-5 button {
    margin-top: 50px;
    padding: 15px 100px;
}

.section-2 > .container {
    padding-top: 230px;
}

.section-3 > .container {
    padding-top: 150px;
}

.section-4 > .container, .section-6 > .container {
    padding-top: 100px;
}

.section-5 > .container {
    padding-top: 220px;
}


.fa-caret-down {
    color: white;
}

.feature {
    color: #FFB548;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

table {
    margin-top: 50px;
}

.btn {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

.bg-grey {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px; 
    height: 60px; 
    padding: 7px 10px;
}

.placeholder {
    font-size: 14px; 
    line-height: 19px; 
    margin-bottom: 0;
}

.email {
    color: #FFB548; 
    font-size: 18px; 
    line-height: 25px;
}

footer {
    padding-top: 50px;
    background-color: #080A0B;
    padding-bottom: 30px;
}

footer li {
    list-style-type: none;
}

footer ul {
    display: inline;
}

hr {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
}

.privacy {
    text-align: right;
}

@media (max-width: 992px) { 
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 15px;
    }

    #img-newslatter {
        display: none;
    }

    footer li, .privacy, .copyright {
        text-align: center;
    }

    #sosial {
        text-align: center;
        margin-top: 10px;
    }

    .bg-grey {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) { 
    #footer-menu ul {
        display: block;
        padding-left: 0;
    }
}
